body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#element1
{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    alignment: left;
    width: 25%;
}

#element2
{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    alignment: left;
    width: 40%;
}
#element3
{
    display: inline;
    vertical-align: top;
    margin-top: 90px;
    alignment: left;
    width: auto;
    height: auto;
}
#element4
{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    alignment: left;
    width: auto;

}
h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
