body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#element1
{
    border: 2px #eee solid;
    display: inline-block;
    vertical-align: top;
    alignment: left;
    width: auto;
    margin: 10px;
}

#element2
{
    display: inline-block;
    margin: 10px;
}
#element3
{
    border: 2px #eee solid;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    alignment: top;
    width: 600px;

}
#element4
{
    display: inline-block;
    vertical-align: central;
    margin-top: 10px;
    alignment: center;
    width: 300px;
}
#element5
{
    display: inline;
    vertical-align: top;
    margin-top: 10px;
    alignment: left;
    width: auto;
}
#element6
{
    border: 2px #eee solid;
    display: block;
    vertical-align: center;
    margin-top: 10px;
    alignment: center;
    width: auto;
}
h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
    width: auto;
}
