<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <title> Descarte Certo Limeira</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- Style CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">


  </head>

  <body class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Busca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="cadastrar">Cadastrar Local</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="opiniao">Deixe a sua opinião</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="destinos"></a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="card text-center">
        <div class="card-body">
            <a class="btn btn-block" href="{{ url_for('index') }}"><h1>Descarte Certo Limeira</h1></a>
            <h6 class="card-subtitle mb-2 text-muted">O App que te mostra onde descartar resíduos corretamente na cidade de Limeira!</h6>
        </div>
    </div>

    <p>
        <div>
            {% block content %}

            {% endblock %}
        </div>

    <footer>
        <p>
        <h6>Uma Iniciativa:</h6>
            <ul>
                <li>
                    PJI310-SALA-001GRUPO-004
                </li>
                <ul>
                    <li> ADRIANO MARCOS CRUZ DE ARAUJO </li>
                    <li> CLEITON HESPER KLEM </li>
                    <li> MELQUISEDEC OLIVEIRA DA SILVA </li>
                    <li> RICARDO JULIANI </li>
                    <li> ROBERTO GONÇALVES ACCESSOR JUNIOR </li>
                    <li> RODRIGO IVAN ANDRADE QUEIROZ DOS SANTOS </li>
                </ul>
            </ul>
        <h6>Apoio:</h6>
        <ul>
            <li>
                UNIVESP - Universidade Virtual do Estado de São Paulo
            </li>
        </ul>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </body>
</html>