{% extends 'base.html' %}

{% block content %}

    <body>
        <div class="container">
            <h4>Digite as informações sobre o local e quais itens podem ser descartados lá:</h4>
            <form action = "{{ request.path }}" method = "post">
                <div class="form-group">
                    <label for="cad_item">Itens aceitos para descarte:</label>
                    <input type="text" class="form-control" name="cad_item" id="cad_item">
                </div>
                <div class="form-group">
                    <label for="cad_nome">Nome:</label>
                    <input type="text" class="form-control" name="cad_nome" id="cad_nome">
                </div>
                <div class="form-group">
                    <label for="cad_endereco">Endereço:</label>
                    <input type="text" class="form-control" name="cad_endereco" id="cad_endereco">
                </div>
                <div class="form-group">
                    <label for="cad_telefone">Telefone:</label>
                    <input type="text" class="form-control" name="cad_telefone" id="cad_telefone">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </body>

{% endblock %}