{% extends 'base.html' %}

{% block content %}

    <body>
        <h2>
            Locais encontrados:
        </h2>
	        <div class="row">
                {% for Endereco in endereco %}
	                <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ Endereco.destino.nome}}</h4>
                                <p class="card-text">
                                    <p>{{ Endereco.destino.endereco }}</p>
                                    <p> {{ Endereco.destino.telefone }}</p>
                                    <p>Clique no mapa para amplia-lo!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <iframe
                                    src="{{ Endereco.destino.mapa }}" width="100%" height="120%" style="border:0;" allowfullscreen="" loading="lazy">
                                </iframe>
                            </div>
                        </div><p></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('index') }}">Fazer nova Busca</a>
    </body>

{% endblock %}

