{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Descarte Certo Limeira {% endblock %}</h1>

<body>
    <p>
        A página que te mostra onde descartar resíduos sólidos corretamente!
    </p>
    <h2>
        Locais encontrados:                       <h5>Clique no mapa para amplia-lo!</h5>
    </h2>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <div id="element6">
        {% for Endereco in endereco %}
            <div id="element3">
                <h5>{{ Endereco.destino.nome}}</h5>
                <p> {{ Endereco.destino.endereco }} -</p>
                <p> {{ Endereco.destino.telefone }}</p>
            </div>
            <div id="element4">
            <iframe
                src="{{ Endereco.destino.mapa }}" width="300" height="230" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
            </div>
        {% endfor %}
    </div>

    <h3>
         <a href = "{{ url_for('index') }}">Fazer nova Busca</a>
    </h3>

    <h5>Uma Iniciativa:</h5>
    <ul>
        <li>
            PJI110-0010-LIMEIRA-Grupo-004
        </li>
        <ul>
            <li> Cleiton Hesper Klem </li>
            <li> Cristiane Aparecida da Silva </li>
            <li> Reinaldo Júnior da Costa </li>
            <li> Sandra Mara Sóares Alves Costa </li>
        </ul>
        <h5>Apoio:</h5>
        <ul>
            <li>
                UNIVESP - Universidade Virtual do Estado de São Paulo
            </li>
        </ul>
    </ul>
</body>
{% endblock %}

