{% extends 'base.html' %}

{% block content %}

    <body>
        <div class="container">
	        <div class="row">
	            <div class="col-md-5">
                    <h5>
                        Selecione o ítem que você quer descartar:
                    </h5>
                    <form action = "{{ request.path }}" method = "post">
                        <p>
                            <button name="item" id="item1" value="1" class="btn btn-secondary btn-block">Informatica</button>
                        <p>
                            <button  name="item" id="item2" value="2" class="btn btn-secondary btn-block">Aparelhos eletrônicos</button>
                        <p>
                            <button name="item" id="item3" value="3" class="btn btn-secondary btn-block">Eletrodomésticos</button>
                        <p>
                            <button name="item" id="item4" value="4" class="btn btn-secondary btn-block">Pilhas e Baterias comuns</button>
                        <p>
                            <button name="item" id="item5" value="5" class="btn btn-secondary btn-block">Bateria de celular</button>
                        <p>
                            <button name="item" id="item6" value="6" class="btn btn-secondary btn-block">Celulares e acessórios</button>
                        <p>
                            <button name="item" id="item7" value="7" class="btn btn-secondary btn-block">Lâmpadas</button>
                        <p>
                            <button name="item" id="item8" value="8" class="btn btn-secondary btn-block">Óleo de cozinha</button>
                    </form>
                </div>
                <div class="col-md-5">
	                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235754.5485509014!2d-47.50184858576187!3d-22.591636109678703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c880ecaee30113%3A0xd333475dd751788f!2sLimeira%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1635393784008!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
	            </div>
	        </div>
        <p></div>
        Se você não encontrou o item para descarte na lista acima, provavelmente deva ser um item aceito nos ECOPONTOS.
        <p>Para ver mais informações clique no botão abaixo que você será redirecionado até a pagina relacionada aos
            ecopontos no site da cidade de Limeira.</p>
        <p><a href="https://www.limeira.sp.gov.br/sitenovo/service.php?servico=1&categoria=3&item=85&conteudo=540#view_content_service" target="_blank" class="btn btn-primary" role="button" aria-pressed="true">ECOPONTOS</a></p>
    </body>

{% endblock %}

