{% extends 'base.html' %}

{% block content %}

    <body>
        <div class="container">
            <h5>Obrigado por responder a este breve questionário, com as suas respostas poderemos completar o nosso
                trabalho e saber se conseguimos resultados positivos para a cidade de Limeira.</h5>
            <form action = "{{ request.path }}" method = "post">

                <div class="form-group">
                    <label for="resp1">1) Esta foi a primeira vez que utilizou o serviço do Descarte Correto?</label>
                    <p><input type="radio" name="resp1" id="resp1.1" checked value="Sim"><label for="resp1.1">Sim</label>
                    <p><input type="radio" name="resp1" id="resp1.2" value="Não"><label for="resp1.2">Não</label>
                </div>

                <div class="form-group">
                    <label for="resp2">2) Conhece outras alternativas que prestem um serviço parecido com esse para
                        a população de Limeira?</label>
                    <p><input type="radio" name="resp2" id="resp2.1" checked value="Sim"><label for="resp2.1">Sim</label>
                    <p><input type="radio" name="resp2" id="resp2.2" value="Não"><label for="resp2.2">Não</label>
                </div>

                <div class="form-group">
                    <label for="resp3">3) Encontrou o que precisava?</label>
                    <p><input type="radio" name="resp3" id="resp3.1" checked value="Sim, tudo"><label for="resp3.1">Sim, tudo</label>
                    <p><input type="radio" name="resp3" id="resp3.2" value="Sim, uma parte"><label for="resp3.2">Sim, uma parte</label>
                    <p><input type="radio" name="resp3" id="resp3.3" value="Não"><label for="resp3.3">Não</label>
                </div>

                <div class="form-group">
                    <label for="resp4">4) É fácil encontrar informações no aplicativo?    </label>
                    <p><input type="radio" name="resp4" id="resp4.1" checked value="Muito fácil"><label for="resp4.1">Muito fácil</label>
                    <p><input type="radio" name="resp4" id="resp4.2" value="Fácil"><label for="resp4.2">Fácil</label>
                    <p><input type="radio" name="resp4" id="resp4.3" value="Medianamente fácil"><label for="resp4.3">Medianamente fácil</label>
                    <p><input type="radio" name="resp4" id="resp4.4" value="Difícil"><label for="resp4.4">Difícil</label>
                    <p><input type="radio" name="resp4" id="resp4.5" value="Muito difícil"><label for="resp4.5">Muito difícil</label>
                </div>

                <div class="form-group">
                    <label for="resp5">5) Na sua opinião esse serviço deve ser mantido e atualizado com mais locais e produtos para descarte? </label>
                    <p><input type="radio" name="resp5" id="resp5.1" checked value="Sim"><label for="resp5.1">Sim</label>
                    <p><input type="radio" name="resp5" id="resp5.2" value="Não"><label for="resp5.2">Não</label>
                </div>

                <div class="form-group">
                    <label for="resp6">6) Na sua opinião esse serviço pode ser util para a cidade de Limeira?</label>
                    <p><input type="radio" name="resp6" id="resp6.1" checked value="Sim"><label for="resp6.1">Sim</label>
                    <p><input type="radio" name="resp6" id="resp6.2" value="Não"><label for="resp6.2">Não</label>
                </div>

                <div class="form-group">
                    <label for="resp7">7) Qual é a probabilidade de você utilizar esse serviço novamnete?  </label>
                    <p><input type="radio" name="resp7" id="resp7.1" checked value="Muito provável"><label for="resp7.1">Muito provável</label>
                    <p><input type="radio" name="resp7" id="resp7.2" value="Provável"><label for="resp7.2">Provável</label>
                    <p><input type="radio" name="resp7" id="resp7.3" value="Não sei"><label for="resp7.3">Não sei</label>
                    <p><input type="radio" name="resp7" id="resp7.4" value="Improvável"><label for="resp7.4">Improvável</label>
                    <p><input type="radio" name="resp7" id="resp7.5" value="Muito improvável"><label for="resp7.5">Muito improvável</label>
                </div>

                <div class="form-group">
                     <label for="resp8">8) Qual é a probabilidade de você indicar esse serviço para outras pessoas?   </label>
                     <p><input type="radio" name="resp8" id="resp8.1" checked value="Muito provável"><label for="resp8.1">Muito provável</label>
                     <p><input type="radio" name="resp8" id="resp8.2" value="Provável"><label for="resp8.2">Provável</label>
                     <p><input type="radio" name="resp8" id="resp8.3" value="Não sei"><label for="resp8.3">Não sei</label>
                     <p><input type="radio" name="resp8" id="resp8.4" value="Improvável"><label for="resp8.4">Improvável</label>
                     <p><input type="radio" name="resp8" id="resp8.5" value="Muito improvável"><label for="resp8.5">Muito improvável</label>
                </div>

                <div class="form-group">
                    <label for="resp9">9) Deixe as suas sugestões, críticas ou comentários para que o nosso trabalho fique ainda mais completo. :</label>
                    <p><input type="text" class="form-control" name="resp9" id="resp9.1" placeholder="Deixe a sua opinião">
                </div>
                <div class="form-group">
                    <label for="resp10">10) Qual o seu primeiro nome e o bairro onde mora?</label>
                    <p><input type="text" class="form-control" name="resp10" id="resp10.1" placeholder="Seu primeiro nome">
                    <p><input type="text" class="form-control" name="resp11" id="resp11.1" placeholder="Bairro onde mora">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form><p>
            Obrigado por responder a esse pequeno questionário, as suas respostas serão muito uteis para podermos saber se o objetivo do trabalho foi alcançado.

        </div>
    </body>

{% endblock %}